mixin slider(mods)
  -
    const baseName = 'slider'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .slider(class=allMods)&attributes(attributes)
    .slider__wrapper
      .swiper-wrapper
        block
    .slider__button.slider__button--prev
    .slider__button.slider__button--next

mixin slider__img(srcSmall, srcBig, mods)
  -
    const baseName = 'slider__img'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .slider__item.swiper-slide
    a.slider__img(class=allMods href=srcBig)&attributes(attributes)
      img(src=srcSmall, alt)
    block
