mixin benefits(data, mods)
  -
    const baseName = 'benefits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .benefits(class=allMods)&attributes(attributes)
    each item in data
      .benefits__item
        .benefits__icon
          img(src=item.icon, alt)
        .benefits__text
          if item.title
            .benefits__title !{item.title}
          .benefits__descr !{item.descr}
    block
