mixin quotes(mods)
  -
    const baseName = 'quotes'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .quotes(class=allMods)&attributes(attributes)
    -for(i=0; i<2; i++)
      .quotes__item
        .quotes__img
          img(src='img/quotes.png', alt)
        .quotes__content
          .quotes__head
            .quotes__name Андрей Афанасьев
            .quotes__descr Главный специалист Федерального центра по сертификации и стандартизации строительства
          .quotes__text Компания «ВЫБОР» - одна из самых динамично развивающихся компаний в строительном компасе не только Воронежской области, но и думаю, всей России. И так, как они относятся к бизнесу, может служить примером для тех компаний, которые выходят на строительный рынок. Чего стоит только завод «ВЫБОР-ОБД», который был возведен в кратчайшие сроки по уникальной технологии для нашей страны, и которая показывает то, что эта технология востребована и крайне необходима сегодня. Без сомнения, компания «ВЫБОР» - это один из флагманов строительной отрасли нашего региона, и я уверен, что ее можно уже давно считать одним из брендов Воронежской области.
    block
