mixin video-reviews(mods)
  -
    const baseName = 'video-reviews'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .video-reviews(class=allMods)&attributes(attributes)
    -for(let i=0; i<5; i++)
      .video-reviews__item
        .js-custom-player
          iframe(width='100%' height='100%' src='https://www.youtube.com/embed/bSSPEjg6OV8?controls=0&modestbranding=1&playsinline=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen allowtransparency)
        .video-reviews__title Открытие гимназии в ЖМ «Новое Отрадное»
    block
