mixin partners(mods)
  -
    const baseName = 'partners'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .partners(class=allMods)&attributes(attributes)
    -for(let i=0; i<3; i++)
      a.partners__item(href='#')
        img(src='img/partners-1.webp', alt)
      a.partners__item(href='#')
        img(src='img/partners-2.webp', alt)
    block
